{% extends 'post/base.html' %}

{% block content %}
<div class="post">

    {% if user.pk == post.author.pk %}
    <a class="btn btn-primary" href="{% url 'post:post_edit' pk=post.pk %}"><span class="fa fa-pencil"></span></a>
    <a class="btn btn-primary" href="{% url 'post:post_remove' pk=post.pk %}"><span class="fa fa-remove"></span></a>
    {% endif %}

    <h2>{{ post.title }}</h2>

    <p>{{ post.text|linebreaksbr }}</p>

    {% if request.user.is_authenticated %}
    <form action="{% url 'post:like_post' %}" method="post">
        {% csrf_token %}
        {% if is_liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Dislike</button>
        {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
        {% endif %}
    </form>
    {% endif %}

    {{ total_likes }} Like{{ total_likes|pluralize }}

</div>

{% endblock %}